**/.github/
**/.vscode/
**/infrastructure/
**/node_modules/
**/test/
**/.env
**/.env.example
**/.gitignore
**/docker-compose.yml
**/.eslintrc.json
**/mongo_init.sh
**/sonar-project.properties
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
